:root {
    --beige: #E5E1D8;
    --light-green: #C5C5B9;
    --dark-green: #A09F8D;
    --dark: #31312F;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    padding: 32px;

    width: 100vw;
    min-height: 100vh;
    height: auto;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--dark);

    background-color: var(--beige);
    background-image: url('../pictures/polcaTrim.png');
    background-size: 450px 450px;
}

h1 {
    font-size: 28px;
    line-height: 120%;
}

h2 {
    font-size: 24px;
    line-height: 120%;
}

p, a, label {
    font-size: 14px;
    line-height: 120%;
}

span {
    font-size: 14px;
    line-height: 120%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--dark);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 48px;
    padding: 64px 32px;

    width: 100%;
    min-height: 600px;
    height: auto;

    background-color: var(--beige);
    border: 6px var(--dark) solid;
    box-shadow: 8px 8px 0px var(--dark);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    gap: 24px;
    width: 100%;
}

.nav__main {
    flex-direction: column;
}

nav a, button {
    width: 100%;
}

nav a, button, input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--dark);
    font-weight: 14px;
    text-decoration: none;

    padding: 16px;

    background-color: var(--light-green);
    border: 3px var(--dark) solid;
    box-shadow: 4px 4px 0px var(--dark);
}

nav a:hover, button:hover, input[type="submit"]:hover {
    background-color: var(--dark-green);
}

#aviso {
    background-color: var(--light-green);
    border: 3px var(--dark-green) solid;
    box-shadow: 4px 4px 0px var(--dark-green);
    padding: 16px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 32px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;

    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;
    width: 100%;

    background-color: var(--light-green);
    border: 3px var(--dark-green) solid;
    box-shadow: 4px 4px 0px var(--dark-green);
    padding: 32px;
}   

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;
    width: 100%;
}

input {
    width: 100%;
    padding: 8px;

    font-size: 14px;
    line-height: 120%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--dark);

    border: 2px var(--dark) solid;
    box-shadow: 3px 3px 0px var(--dark);
}

#resultado-ap, #resultado-av1, #resultado-mf {
    display: none;
    width: 100%;

    padding: 32px;
    margin: 24px 0px;

    background-color: var(--light-green);
    border: 3px var(--dark-green) solid;
    box-shadow: 4px 4px 0px var(--dark-green);
}

@media only screen and (min-width: 600px) and (max-width: 1439px) {

    .buttons {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        width: 30%;
    }

    .nav__main {
        width: 75%;
    }

    .nav__main a {
        width: 100%;
    }

    article div {
        width: 100%;
    }

    input[type="submit"] {
        width: 50%;
    }

}

@media only screen and (min-width: 1440px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    p, a, label {
        font-size: 18px;
    }

    main {
        width: 60%;
        max-width: 80vw;
        min-height: 50vh;
        height: auto;

        padding: 96px 72px;
    }

    .buttons {
        flex-direction: row;
    }

    .buttons button {
        width:50%;
    }

    .buttons button span {
        font-size: 18px;
    }

    article div {
        width: 90%;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        width: 32%;
    }

    .nav__main a {
        width: 100%;
    }
    
    form {
        padding: 16px;
    }

    input {
        width: 80%;
    }

    input[type="submit"] {
        width: 50%;
        margin: 24px;
        font-size: 18px;
    }

}
